body{
    background-color: rgb(14, 14, 14);
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body,html {
    margin: 0;
    padding: 0 10px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

a{
    color: #ffffff;
}

@keyframes show {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.show{
    animation: show 0.2s;
}

.back{
    padding: 20px;
    border-radius: 10px;
    background-color: #282828;
    transition: background-color .2s;
    position: absolute;
    top: 30px;
    left: 30px;
    &:hover{
        background-color: lighten(#282828, 3%);;
    }

    &:active{
        background-color: darken(#282828, 3%);
    }

    .arrow{
      width: 15px;
      height: 15px;
      border-top: 3px solid #969696;
      border-left: 3px solid #969696;
      transform: rotate(-45deg);
      margin-left: 5px;
  }
}