.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  text-align: center;
  .title {
    font-size: 25px;
    margin-bottom: 5px;
    margin-bottom: 25px;
  }
  .input {
    padding: 9.5px 17.5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  .btn {
    background-color: #121212;
    padding: 7.5px 15px;
    border-radius: 5px;
    font-weight: 500;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  .blocked {
    opacity: 0.2;
    cursor: unset;
  }
}

.modalWhite {
  background-color: #ffffff;
  color: #000000;
  .btn {
    color: #ffffff;
  }
}
