$gameBtnsColor: #282828;
$gameBtnsBlockedColor: #474747;

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 350px;
    margin: 0 auto;
    width: 100%;    

    .field{
        position: relative;
        width:100vw;
        height:100vw;
        width: 100%;
        max-height: 350px;
        background-color: #1b1b1b;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .borderRemover{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vw;
        max-width: 346px;
        max-height: 346px;
        border-radius: 110px;
        border: rgb(14, 14, 14) 100px solid;
        box-sizing: content-box;
    }
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.again{
    padding: 15px 45px;
    font-size: 17.5px;
    font-weight: 500;
    background-color: $gameBtnsColor;
    border-radius: 10px;
    transition: background-color .2s, opacity 0.3s;
    user-select: none;
    cursor: pointer;
    &:hover{
        background-color: lighten($gameBtnsColor, 3%);;
    }

    &:active{
        background-color: darken($gameBtnsColor, 3%);
    }
}

.blocked{
    opacity: 0.5;
    background-color: $gameBtnsColor;
    cursor: unset;
    &:hover{
        background-color: $gameBtnsColor;
    }

    &:active{
        background-color: $gameBtnsColor;
    }
}

.stat{
    display: flex;
    align-items: center;
}

.stat__item{
    margin-left: 30px;
}

.stat__x{
    width: 30px;
    position: relative;
    z-index: 10;

    .cellLine{
        width: 30px;
        height: 4px;
        border-radius: 5px;
    }    

    .cellLineFirst{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .cellLineSecond{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.stat__o{
    width: 30px;
    position: relative;
    z-index: 10;

    .circle{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 4px solid;
    }
}

.stat__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat__score{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}