.chat {
  max-width: 350px;
  width: 100%;
  height: calc(500px + 50px);
  background-color: #1d1d1d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  .input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    input {
      width: 100%;
      padding: 12.5px 20px;
      height: 50px;
      font-size: 20px;
      border: 0;
      border-bottom-left-radius: 10px;
      user-select: none;
    }
    .sendBtn {
      width: 60px;
      height: 50px;
      background-color: #161616;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.2s;
      user-select: none;
      &:hover {
        background-color: lighten(#161616, 1);
      }
      &:active {
        background-color: darken(#161616, 1.5);
      }
    }

    .sendBtnWhite {
        width: 60px;
        height: 50px;
        background-color: #929292;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;
        user-select: none;
        &:hover {
          background-color: lighten(#929292, 1);
        }
        &:active {
          background-color: darken(#929292, 1.5);
        }
      }
  }
}

.chatWhite {
  background-color: #ffffff;
  .empty {
    color: #000000 !important;
  }
  .myMessage {
    background-color: #6c8fff;
    &:after {
      border-left-color: #6c8fff;
    }
  }
  
  .opponentMessage {
    background-color: #9fa5b9;
    &:after {
      border-right-color: #9fa5b9;
    }
  }
  .message{
    .time{
      color: #3f3f3f;
    }
  }
}

.messageWrapper {
  width: 100%;
  display: flex;
}

.message {
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 12.5px;
  max-width: 100%;
  word-wrap: break-word;
  position: relative;
  .text {
    font-size: 17.5px;
    font-weight: 500;
    margin-right: 15px;
    margin-right: 15px;
    max-width: calc(100% - 45px);
  }
  .time {
    color: #c6c6c6;
    transform: translateY(2.5px);
    user-select: none;
  }
}

.myMessage {
  background-color: #3e5ab4;
  border-bottom-right-radius: 0;
  &:after {
    display: block;
    content: "";
    content: "";
    position: absolute;
    left: 99%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #3e5ab4;
    border-bottom: 0px solid transparent;
  }
}

.opponentMessage {
  background-color: #363c4f;
  border-bottom-left-radius: 0;
  &:after {
    display: block;
    content: "";
    content: "";
    position: absolute;
    right: 99%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #363c4f;
    border-bottom: 0px solid transparent;
  }
}

.correspondence {
  height: 450px;
  padding: 0 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  overflow-y: auto;

  .empty {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #e8e8e8;
  }
}

.myMessageWrapper {
  justify-content: flex-end;
}

.opponentMessageWrapper {
  justify-content: flex-start;
}
